.bg {
  background-image: url('http://localhost:5173/images/cards/birthday/theme/banners/birthday-desktop.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto;
}
