.wrapper {
    position: relative;
    &:hover {
        img {
            border: 2px solid #000;
        }
    }
}
.wrapper::before {
    content: '';
    display:block;
    height: 24px;
    transform: rotate(-2deg);
    position: absolute;
    left: 4px;
    right: 11px;
    top: -6px;
    background-color: #e9e9ea;
    border-top-right-radius: 4px;
    
}
.wrapper:hover::before {
    background-color: black;
}
.cardItem {
    position: relative;
    
}
